[href="https://www.senasofiaplus.edu.co/"] {

    color: aliceblue;
    text-decoration: none;
}
main h1 {
    color: blue;
    font-size: 40px;
}
p {
    color: blueviolet;
}
h1 , h2{
    color: brown;
    font-size: 45px;
}


